
body{
	margin: auto;
    background-color: #e8d184;
}

#mitt{
	width: 60%;
	min-height: 800px;
	margin-left: 5%;
	border: 1px solid black;
}


#login{
	width: 30%;
	height: 160px;
	border: 2px solid #6e0047;
	float: right;
	margin-right: 2%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

#inlagg{
	width: 100%;
	min-height: 190px;
	border: 2px solid black;
	margin-right: 2%;
}

#bottom{
	clear: both;
	width: 80%;
	height: 50px;
	border: 2px solid #6e0047;
	margin-left: 5%;
	margin-top: 1%;
}

h2{
	color: #CC0066;
	margin-left: 3%;
	border-bottom: 2px solid #6e0047;
	margin-right: 3%;
}

#copyright{
	margin-left: 40%;
}

#klocka{
	width: 100%;
	min-height: 150px;
	border: 2px solid black;
	margin-right: 2%;
	margin-top: 2%;
}

#sida2{
	float: right;
	width: 30%;
	margin-right: 2.3%;
	min-height: 800px;
}

#news{
	width: 100%;
	min-height: 453px;
	border: 2px solid black;
	margin-top: 2%;
	margin-right: 2%;
}

#time{
	margin-left: 40%;
	font-size: 130%;
}

#namnsdag{
	margin-left: 37%;
}

#log{
	margin-left: 80%;
	margin-bottom: 20px;
}

#username, #password{
	margin-left: 3%;
}

#user, #pass{
	color: white;
	margin-left: 10%;
}

#loginuser {
}

#remem{
	color: white;
	margin-left: 65%;	
}

#sitefeed{
	margin-left: 3%;
	margin-right: 3%;
    font-size: 140%;
    width: 70%;
}	

#status{
	margin-left: 20%;
}

#dela{
	margin-left: 20%;
}

p{
	margin-left: 3%;
	margin-right: 3%;
}

h3{
	margin-top: 5%;
	margin-left: 10%;
	margin-bottom: 0%;
	font-size: 180%;
}

#an1{
	margin-left: 5%;
	width: 80%;
	min-height: 150px;
}

#an2{
	margin-left: 5%;
	width: 80%;
	min-height: 150px;
	border-bottom: 2px solid #6e0047;
}

.status{
	margin-left: 15%;
    margin-top: 0%;
}

#main{
	margin-top: 2%;
	margin-bottom: 2%;
	min-height: 800px;
}

#reg{
	color: #6e0047;
	margin-left: 17%;
	position: absolute;
	float: left;
}

#inlaggold{
	width: 20%;
	height: 50px;
	border: 2px solid #6e0047;
	margin-top: 10%;
	margin-left: 40%;
}

#inlaggold1{
	margin-left: 18%;
}

.links{
    font-family: "Times new roman", Times, Serif;
    color: black;
}
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {text-decoration: underline overline; color: red;}

#statusbild{
    background-image: url(comment.jpg);
    height: 112px;
    width: 530px;
    margin-left: 30%;
}

#statusdiv {
    margin-top: 10%;
}

#sinlagg {
    margin-top: 0%;
    margin-left: 1%;
}

.statustid {
    margin-left: 8%;
    margin-top: 3%;
}

#name{
    float: left;
    margin-top: 4%;
    margin-left: 12%;
}   

#topbar{
    width: 100%;
    height: 50px;
    background-color: #cfa655;
    border: 3px solid black;
}

#logginname{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 120%;
}

#logout{
    margin-left: 9%;
}

#mittbar{
    width: 99,5%;
    height: 50px;
    background-color: #cfa655;
    border: 1px solid black;    
}

#sidebar{
    width: 99,5%;
    height: 50px;
    background-color: #cfa655;
    border: 1px solid black;
}

#huvudsida{
    float: right;
    width: 20%;
    margin-top: 3%;
}

